#root {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

main {
    min-height: 80vh;
}

body{
    font-family: "Karla", sans-serif;
    margin: 0;
}

.header{
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgb(205, 32, 119) , rgb(231, 131, 174));
    color: white;
    padding: 1em;

    .title {
        margin-right: auto;
        padding: 1em;
    }

    .logo {
        max-width: 100px;

        img {
            max-width: 100%;
            height: auto;
        }
    }
}

.form {
    display: flex;
    flex-direction: column;
    margin: 1.5em;
}

.input-container {
    display: flex;
    justify-content: space-around;
    font-family: "Karla", sans-serif;
}

.input {
    padding: 1rem;
}

.btn {
    margin: auto;
    position: relative; 
    padding: 3%;
}

.btn button {
    font-family: "Karla", sans-serif;
    background: rgb(197, 68, 126);
    color: white;
    border: none;
    padding: 1em;
    cursor: pointer;
}

.memeImg {
    max-width: 100%;
}


#meme {
    width:40%;
    height:40%;
    margin: auto;
    display: block;
    position: relative;
}

.meme-text {     
    position: absolute;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 3% 0;
    padding: 0 5%;
    font-family: impact, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}

#downloadLink, #downloadLink:visited {
    text-decoration: none;
    color: white;
}

.final-btns {
    display: flex;
}

.no-btns {
    display: none;
}

.footer {
    display: flex;
    bottom: 0;
    align-items: center;
    background: linear-gradient(to right, rgb(205, 32, 119) , rgb(231, 131, 174));
    color: white;
    padding: 1em;
}

@media only screen and (max-width: 450px) {
    .input-container {
        flex-direction: column;
    }
}

@media only screen and (max-width: 900px) {
    .meme-text{
        font-size: 20px;
    }
}

@media only screen and (max-width: 600px) {
    .meme-text{
        font-size: 10px;
    }
}

