body {
    font-family: "Karla", sans-serif;
    margin: 0;
}

.header {
    display: flex;
    align-items: center;
    background: linear-gradient(to right, rgb(205, 32, 119) , rgb(231, 131, 174));
    color: white;
    padding: 1em;
}

.title {
    margin-right: auto;
    padding: 1em;
}

.logo {
    max-width: 100px;
}

.form {
    display: grid;
    grid-template: 40px / 1fr 1fr;
    gap: 1.5em;
    margin: 1.5em;
}

.input {
    display: flex;
    flex-direction: column;
    font-family: "Karla", sans-serif;
}

.btn {
    font-family: "Karla", sans-serif;
    background: rgb(197, 68, 126);
    color: white;
    border: none;
    margin: 1em;
    padding: 1em;
    cursor: pointer;
}

.memeImg {
    max-width: 100%;
}

.meme {
    position: relative;
    margin: 1em
}

.meme-text {
    position: absolute;
    width: 80%;
    text-align: center;
    left: 50%;
    transform: translateX(-50%);
    margin: 15px 0;
    padding: 0 5px;
    font-family: impact, sans-serif;
    font-size: 3em;
    text-transform: uppercase;
    color: white;
    letter-spacing: 1px;
    text-shadow:
        2px 2px 0 #000,
        -2px -2px 0 #000,
        2px -2px 0 #000,
        -2px 2px 0 #000,
        0 2px 0 #000,
        2px 0 0 #000,
        0 -2px 0 #000,
        -2px 0 0 #000,
        2px 2px 5px #000;
}

.bottom {
    bottom: 0;
}

.top {
    top: 0;
}